ion-toolbar {
  --background: rgba(0,0,0,0);
  height: 75px;
}

ion-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

ion-back-button.button {
  --color: var(--ion-color-border);
  --padding-start: 0;
  --padding-end: 0;
  --margin-inline-end: 0 !important;
  --margin-inline-start: 0 !important;
  -webkit-margin-end: 0 !important;

}

.categoryGrid, .tagsGrid {
  display: flex;
  flex-wrap: wrap;
}

.kategoriBtn {
  min-width: 120.036px;
}

.tagsBtn {
  --background: rgba(0,0,0,0);
  --border-style: solid !important;
  --border-width: 2px !important;
  --border-color: var(--ion-color-border) !important;
  --color: var(--ion-color-secondary-contrast) !important;


}

.lagreBtn {
  --background: var(--ion-color-border);
}

.h1_interesser {
  font-size: 0.9rem;
  color: var(--ion-color-secondary-contrast);
  letter-spacing: 1.38px;
  text-align: left;
}
