ion-content {
  --background: var(--ion-background-color);
  --padding-bottom: 150px;
}

ion-list {
  --background: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}
ion-header{
  --height: 0px;
  --ion-safe-area-top: 0px;

}

ion-toolbar{
  --background: rgba(0, 0, 0, 0);
  --height: 75px;
  --ion-safe-area-top: 0px;
}


ion-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
}

ion-back-button.button {
  --color: var(--ion-color-border);
  --padding-start: 0;
  --padding-end: 0;
  --margin-inline-end: 0 !important;
  --margin-inline-start: 0 !important;
  -webkit-margin-end: 0 !important;
}

ion-item {
  --background: rgba(0, 0, 0, 0);
}

.logoPic {
  width: 30px;
}


.inputField {
  --background: white;
  border: 1px solid var(--ion-color-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1px;
}

textarea {
  resize: none;
  width: 80vw;
  height: 50px;
}

.sendBtn {
  height: 50px;
}

.chatbox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1px;
}

.messageContainer {
  border: 2px red solid;
  height: 70vh;
  overflow: hidden;
  white-space: nowrap;

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    overflow: scroll;
  }
}

.item {
  display: grid;
  grid-template-columns: auto;
}

.messageWrapper {
  display: inline-grid;
  grid-template-rows: 1fr;

}

.message {
  border: 1px red solid;
  background: var(--ion-color-secondary-contrast);
  border-radius: 10px;
  margin: 5px;
  padding: 16px;
}

.username {
  font-size: 2rem;
  clear: right;
}

.itemSelf {
  justify-self: start;
  border: 2px red solid;
}

ion-item.itemSelf {
  padding-left: 0;
}

.itemExternal {
  justify-self: end;
  border: 2px white solid;
}

.itemExternal .username {
  justify-self: end;
}


