<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding text-wrap>

  <img class="logoPic" alt="company_logo" src="../../assets/img/logoalenegul.png"/>
  <button class="button" (click)="toHome()">
  </button>
  <div class="chatheader"></div>
  <div class="item">

    <ion-item *ngFor="let item of messages">
      <div class ="itemto">
        {{item.timestamp}} - {{item.user}} - {{item.text}}
      </div>
    </ion-item>
  </div>

  <div class="chat">
    <ion-item id="rounded">
      <ion-input type="text" fixed="Type in Message to send" [(ngModel)]="message"
                 (keyup.enter)="handleSendMessage()"></ion-input>
    </ion-item>

  </div>

</ion-content>
