ion-content {

}

.button{
  position: sticky;

  top: 0px;
  background: Transparent no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;

}
#chatheader{

  color: white;
  text-shadow: 0px 2px 4px black;
}
.item{
  position: relative;
  top: 30px;
}
.chat{
  /*align-content: center;
  position: sticky;
  top: 85%;
  left: 20px;
  min-width: 200px;  */
}
ion-footer{
  align-content: center;
  position: sticky;
  top: 85%;
  left: 20px;
  min-width: 200px;
}

.itemto{
  position: absolute;
  top: 10px;
}

.title{
  position: fixed;
  top: 50px;
  left: 150px;
}