ion-content {
  --background: var(--ion-background-color);
  --overflow: hidden;
}

ion-toolbar {
  --background: rgba(0,0,0,0);
  --height: 75px;
}

ion-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
}

ion-back-button.button {
  --color: var(--ion-color-border);
  --padding-start: 0;
  --padding-end: 0;
  --margin-inline-end: 0 !important;
  --margin-inline-start: 0 !important;
  -webkit-margin-end: 0 !important;
}

ion-item {
  --background: rgba(0,0,0,0);
}


.logoPic {
  width: 30px;
}

.item{
  font-size: 1rem;
}

.inputField{
  --background: white;
  border: 1px solid var(--ion-color-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1px;
}

textarea {
  resize: none;
  width: 300px;
  height: 50px;
}

.sendBtn {
  height: 50px;
}

.chatbox{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1px;
}

.itemto{
  position: absolute;
  top: 10px;

}

.itemSelf {
  border: 2px red solid;
}

.itemExternal {
  border: 2px white solid;
}

