.wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  height: 75%;
}

h1{

  margin: 5px;
  padding: 10px;
}

.box{
  padding: 10px;
  border: 1px solid black;
  width: 350px;
  justify-self: center;
  align-self: center;
  background: white;

}